body {
    font-family: Roboto, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
}

.hero {
    background: #1F2937;
    height: 100%;
    color: #F9FAF8;
    
}

.header {
    display: flex;
    justify-content: space-between;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.list {
    display: flex;
    gap: 20px;
    padding-right: 100px;
    font-size: larger;
}

.header-logo {
    font-size: x-large;
    font-weight: bold;
}

.second_layer {
    display: flex;
    justify-content: space-around;
}

.website {
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px;
}

h2 {
    font-size: ;
}

button {
    width: 100px;
    background-color: #3882F6;
    color: white;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.img {
    height: 100px;
    width: 200px;
}
