@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
    /* outline: 2px solid yellow; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex-center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-bottom: 9.375rem;
    border-radius: 0.625rem;
    border: none;
    width: 9.375rem;
}

.placeholder {
    height: 15.625rem;
    width: 31.25rem;
    margin-top: 3.125rem;
    margin-right: 8.125rem;
}

.box-features div {
    border: 0.25rem solid #3882F6;
    padding: 0.937rem 1.25rem;
    width: 6.875rem;
    height: 7.5rem;
    border-radius: 0.625rem;
}

.author-padding{
    padding-bottom: 5rem;
    padding-left: 25rem;
    padding-top: 0px;
}


.blue-background {background-color: #3882F6;}

.dark-background {background-color: #1F2937;}

.dark-text {color: #1F2937;}

.gray-blue-background {background-color: #E5E7EB;}

.gray-blue-text {color: #E5E7EB;}

.white-background, body {background-color: #F9FAF8;}

.white-text {color: #F9FAF8;}

.darkGrayish-blue-text{color: #737477;}

.darkGrayish-blue-background{background-color: #737477;}

.column-flex{flex-direction: column;}

.flex{display: flex;}

.spacing-evenly{justify-content: space-evenly;}

.spacing-around{justify-content: space-around;}

.minimum-height{min-height: 15vh;}

.medium-font{font-size: 1.2rem;}

.semi-large-font{font-size: 1.5rem;}

.large-font-1{font-size: 2.25rem;}

.large-font-2{font-size: 3rem;}

.text-style{font-style: italic;}

.bold-font{font-weight: bold;}

.bolder-font{font-weight: bolder;}

.centered-text{text-align: center;}

.centered-items{align-items: center;}

.margin{margin: 7.5rem 9.375rem;}

.margin-top{margin-top: 0.625rem;}

.margin-bottom-smallest{margin-bottom: -0.937rem;}

.margin-bottom-smaller{margin-bottom: 0.44rem;}

.margin-bottom-small{margin-bottom: 1rem;}

.margin-bottom-large{margin-bottom: 6rem;}

.padding{padding: 0.5rem 3rem;}

.top-padding{padding-top: 6.25rem;}

.large-padding-right{padding-right: 30rem;}

.gap-small{gap: 0.625rem;}

.width{width: 70%;}

.border-radius-small{border-radius: 0.625rem;}

.btn-border-color{border: 0.125rem solid #F9FAF8;}